@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');
@font-face {
font-family: 'YgroSansBeta';
src: url('../font/YgroSansBeta-Bold.woff2') format('woff2'),
        url('../font/YgroSansBeta-Bold.woff') format('woff'),
        url('../font/YgroSansBeta-Book.woff') format('woff'),
        url('../font/YgroSansBeta-Book.woff2') format('woff2'),
        url('../font/YgroSansBeta-Medium.woff') format('woff'),
        url('../font/YgroSansBeta-Medium.woff2') format('woff2');
}
.font-display{
    letter-spacing: -0.06em
}

@tailwind base;
@tailwind components;
@tailwind utilities;