html {
  scroll-behavior: smooth;
}
.slideUp-enter-active,
.slideUp-leave-active {
  transition: all 0.5s ease;
}

.slideUp-enter-from,
.slideUp-leave-to {
  opacity: 0;
  transform: translateY(80%);
}

.slideDown-enter-active,
.slideDown-leave-active {
  transition: all 0.5s ease;
}

.slideDown-enter-from,
.slideDown-leave-to {
  opacity: 0;
  transform: translateY(-80%);
}

.slideDownModal-enter-active,
.slideDownModal-leave-active {
  transition: all 0.5s ease;
}

.slideDownModal-enter-from,
.slideDownModal-leave-to {
  opacity: 0;
  transform: translateY(-80%) translateX(-50%);
}

.slideUpModal-enter-active,
.slideUpModal-leave-active {
  transition: all 0.5s ease;
}

.slideUpModal-enter-from,
.slideUpModal-leave-to {
  opacity: 0;
  transform: translateY(80%) translateX(-50%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.zoom-enter-active,
.zoom-leave-active {
  transition: all 0.4s ease;
}

.zoom-enter-from,
.zoom-leave-to {
  opacity: 0;
  transform: scale(0.9,0.9);
}